.venv
.env
scrapping/vnexpress_output/
scrapping/vnexpress_output_bk/
src/__pycache__
src/data/__pycache__
src/settings/__pycache__
src/rag/__pycache__
src/grade/__pycache__
stored/
database.db
src/api/__pycache__
src/api/routes/__pycache__
rss_scrap.txt
docs/
*.pyc

.env
